@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*Background */
  --background-header: #0d0d0d;
  --background-button: #635ef2;
  --background-main: #403f3c;

  /*Color */
  --color-link: #252273;
  --color-text: #f2f2f2;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}
